/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 100%;
width: 100%;
}

#mapContainer {
height: 100%;
width: 100%;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 25px;
  margin-right: 14px;
  margin-top:  10px;    /* if you want it vertically middle of the navbar. */
}


/* Optional: Makes the sample page fill the window. */

  